<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asignar Indicacion</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/css/modal-success.css" />
  </head>
  <body>
    <div
      id="nav"
      class="navbar shadow p-3 mb-5 bg-white rounded"
      style="justify-content: center"
    ></div>

    <div class="container">
      <form
        id="agregar-indicacion"
        autocomplete="off"
        style="width: 500px; margin: 12px auto"
      >
        <div class="form-group" id="form">
          <input type="text" name="id-tarea" id="id-tarea" hidden />
          <input type="text" name="tarea" id="tarea" hidden />
          <label for="nombre">Indicación</label>
          <input
            class="form-control indi"
            name="indicaciones[]"
            type="text"
            placeholder="Agregar indicación"
            required
          />
        </div>
        <div id="add"></div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          width="16"
          height="16"
          style="display: block; margin-bottom: 12px; cursor: pointer"
          id="add-ico"
        >
          <path
            fill-rule="evenodd"
            d="M13.25 2.5H2.75a.25.25 0 00-.25.25v10.5c0 .138.112.25.25.25h10.5a.25.25 0 00.25-.25V2.75a.25.25 0 00-.25-.25zM2.75 1h10.5c.966 0 1.75.784 1.75 1.75v10.5A1.75 1.75 0 0113.25 15H2.75A1.75 1.75 0 011 13.25V2.75C1 1.784 1.784 1 2.75 1zM8 4a.75.75 0 01.75.75v2.5h2.5a.75.75 0 010 1.5h-2.5v2.5a.75.75 0 01-1.5 0v-2.5h-2.5a.75.75 0 010-1.5h2.5v-2.5A.75.75 0 018 4z"
          ></path>
        </svg>
        <button
          class="btn btn-light"
          style="background-color: #add8e6"
          type="submit"
          data-toggle="modal"
          data-target="#myModal"
          id="confirmar"
        >
          Añadir Indicación
        </button>
      </form>
    </div>

    <div id="myModal" class="modal fade">
      <div class="modal-dialog modal-confirm">
        <div class="modal-content">
          <div class="modal-header">
            <div class="icon-box">
              <i class="material-icons">&#xE876;</i>
            </div>
            <h4 class="modal-title w-100">Listo!</h4>
          </div>
          <div class="modal-body">
            <p class="text-center">
              La Indicación ha sido creada satisfactoriamente.
            </p>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-success btn-block"
              data-dismiss="modal"
              id="ok"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>

    <script type="module" src="../../js/loadMenu.js"></script>
    <script type="module" src="../../js/tareas/asignarIndicacion.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
