<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flujo</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/css/modal-success.css" />
  </head>
  <body>
    <div
      id="nav"
      class="navbar shadow p-3 mb-5 bg-white rounded"
      style="justify-content: center"
    ></div>

    <div class="container mt-3">
      <form id="indicaciones-form">
        <div class="form-group">
          <label for="nombreUsuario">Nombre Usuario:</label>
          <input type="text" class="form-control" id="nombreUsuario" disabled />
        </div>
        <div class="form-group">
          <label for="nombreTarea">Nombre Tarea:</label>
          <input type="text" class="form-control" id="nombreTarea" disabled />
        </div>
        <div class="indicaciones" id="indicaciones"></div>
        <button
          class="btn btn-light"
          style="background-color: #add8e6"
          type="submit"
          data-toggle="modal"
          data-target="#myModal"
          id="confirmar"
        >
          Realizar Tarea
        </button>
        <a class="btn btn-secondary" href="/templates/flujos/flujos.html"
          >Volver</a
        >
      </form>
    </div>

    <div id="myModal" class="modal fade">
      <div class="modal-dialog modal-confirm">
        <div class="modal-content">
          <div class="modal-header">
            <div class="icon-box">
              <i class="material-icons">&#xE876;</i>
            </div>
            <h4 class="modal-title w-100">Listo!</h4>
          </div>
          <div class="modal-body">
            <p class="text-center">
              La tarea ha sido completada satisfactoriamente.
            </p>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-success btn-block"
              data-dismiss="modal"
              id="ok"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>

    <script type="module" src="../../js/loadMenu.js"></script>
    <script type="module" src="../../js/tareas/realizarTareas.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
