<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Funciones</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/css/modal-success.css" />
  </head>
  <body>
    <div
      class="navbar shadow p-3 mb-5 bg-white rounded navbar-expand-lg"
      id="navbar"
      style="background-color: #e3f2fd !important"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#nav"
        aria-controls="nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        style="float: right; border: 1px solid"
      >
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav"></div>
    </div>
    <div class="container">
      <div class="card-body">
        <div class="table-responsive" style="max-height: 300px">
          <table
            class="table table-bordered text-center"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead class="thead-light">
              <tr>
                <th style="background-color: #add8e6; color: #000">ID Tarea</th>
                <th style="background-color: #add8e6; color: #000">
                  Nombre Función
                </th>
                <th style="background-color: #add8e6; color: #000">
                  Descripción Función
                </th>
                <th style="background-color: #add8e6; color: #000">
                  Fecha Inicio
                </th>
                <th style="background-color: #add8e6; color: #000">
                  Fecha Termino
                </th>
                <th style="background-color: #add8e6; color: #000">
                  Porcentaje
                </th>
                <th style="background-color: #add8e6; color: #000">Unidad</th>
                <th style="background-color: #add8e6; color: #000"></th>
              </tr>
            </thead>
            <tbody id="table-body"></tbody>
          </table>
        </div>
      </div>
      <div
        class="alert alert-danger mt-3""
        role="alert"
        id="alerta"
        style="display: none"
      >
        Si quieres eliminar una empresa ingresa
        <a href="./deleteFunciones.html" class="alert-link">aquí</a>
      </div>
      <form
        id="unidades"
        autocomplete="off"
        style="width: 500px; margin: 12px auto"
      >
        <div class="form-group">
          <label for="nombre">Nombre Función</label>
          <input
            class="form-control"
            id="select-nombre"
            name="nombre"
            type="text"
            placeholder="Nombre"
            required
          />
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <input
            class="form-control"
            id="select-descripcion"
            name="descripcion"
            type="text"
            placeholder="Descripción"
            required
          />
        </div>
        <div class="form-group">
          <label for="fecha_inicio">Fecha Inicio</label>
          <input
            class="form-control"
            id="select-fecha_inicio"
            name="fecha_inicio"
            type="date"
            placeholder="Fecha Inicio"
            required
          />
        </div>
        <div class="form-group">
          <label for="fecha_termino">Fecha Término</label>
          <input
            class="form-control"
            id="select-fecha_termino"
            name="fecha_termino"
            type="date"
            placeholder="Fecha Término"
            required
          />
        </div>
        <div class="form-group">
          <label for="porcentaje_realizacion">Porcentaje</label>
          <input
            class="form-control"
            id="select-porcentaje"
            name="porcentaje_realizacion"
            type="number"
            placeholder="Porcentaje"
            required
          />
        </div>
        <div class="form-group">
          <label for="tarea">Tarea</label>
          <select
            class="form-control"
            id="select-tarea"
            name="Tarea"
            required
          ></select>
        </div>
        <div class="form-group">
          <label for="creador">Creador</label>
          <select
            class="form-control"
            id="select-creador"
            name="Creador"
            required
          ></select>
        </div>
        <div class="form-group">
          <label for="Unidad">Unidad</label>
          <select
            class="form-control"
            id="select-unidad"
            name="unidad"
            required
          ></select>
        </div>
        <button
          class="btn btn-light"
          style="background-color: #add8e6"
          id="agregar_tarea"
          type="button"
          value="POST"
          data-toggle="modal"
        >
          Añadir Función
        </button>
        <button
          class="btn btn-light"
          style="background-color: #add8e6"
          id="modificar_tarea"
          type="button"
          value="PUT"
        >
          Modificar Función
        </button>
      </form>
      <input class="form-control" id="select-id" name="id" hidden />
    </div>

    <div id="myModal" class="modal fade">
      <div class="modal-dialog modal-confirm">
        <div class="modal-content">
          <div class="modal-header">
            <div class="icon-box">
              <i class="material-icons">&#xE876;</i>
            </div>
            <h4 class="modal-title w-100">Listo!</h4>
          </div>
          <div class="modal-body">
            <p class="text-center">
              La función ha sido creada satisfactoriamente.
            </p>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-success btn-block"
              data-dismiss="modal"
              id="ok"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>

    <script type="module" src="../../js/loadMenu.js"></script>
    <script type="module" src="../../js/funciones/funciones.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script type="module" src="../../js/roles/addRoles.js"></script> -->
  </body>
</html>
