<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="../ico.png" />

    <title>Flujo</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div
      class="navbar shadow p-3 mb-5 bg-white rounded navbar-expand-lg"
      id="navbar"
      style="background-color: #e3f2fd !important"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#nav"
        aria-controls="nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        style="float: right; border: 1px solid"
      >
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav"></div>
    </div>
    <div class="container">
      <button type="button" class="btn btn-primary" name="exportar">Exportar</button>
    </div>
    <div class="card-body">
      <div class="table-responsive" id="table">
        <table
          class="table table-bordered text-center"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead class="thead-light">
            <tr>
              <th style="background-color: #add8e6; color: #000">ID Tarea</th>
              <th style="background-color: #add8e6; color: #000">
                Nombre Tarea
              </th>
              <th style="background-color: #add8e6; color: #000">
                Descripción Tarea
              </th>
              <th style="background-color: #add8e6; color: #000">
                Fecha Inicio
              </th>
              <th style="background-color: #add8e6; color: #000">
                Fecha Término
              </th>
              <th style="background-color: #add8e6; color: #000">Asignado</th>
              <th style="background-color: #add8e6; color: #000">Funcion</th>
              <th style="background-color: #add8e6; color: #000">Acción</th>
            </tr>
          </thead>
          <tbody id="table-body"></tbody>
        </table>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Reportar problema</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="reporte" autocomplete="off">
              <div class="form-group">
                <input type="text" name="tarea" id="tarea" hidden />
                <label>Nombre Reporte</label>
                <input
                  class="form-control"
                  id="nombre"
                  type="text"
                  placeholder="Nombre reporte"
                  required
                />
              </div>
              <div class="form-group">
                <label>Detalle Reporte</label>
                <input
                  class="form-control"
                  id="detalle"
                  type="text"
                  placeholder="Detalle"
                  required
                />
              </div>

              <div class="modal-footer">
                <button
                  id="btnSubmit"
                  name="crearReporte"
                  type="submit"
                  class="btn btn-light"
                  style="background-color: #add8e6"
                >
                  Crear reporte
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script type="module" src="../../js/loadMenu.js"></script>
    <script type="module" src="../../js/flujos/flujo.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
